/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
input {
    height: 3.5rem;
    font-size: 1.5rem;
    padding: 0 10px;
}
button {
    margin-left: 35px;
    height: 4rem;
    width: 4rem;
    font-size: 1.3rem;
    padding: 3px 0px;
    color: darkgreen;
    border: none;
    background-color: aliceblue;
    transform: rotate(45deg);
    cursor: pointer;
    
    position: relative;
}
button:hover {
    color: #222222;
    background-color: azure;
}
button span {
    display: block;
    font-weight: 600;
    transform: rotate(-45deg);
}
button .right {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    border-top: 10px solid #333333;
    border-right: 10px solid #333333;

    transition: 800ms;
    animation-timing-function: linear;

}
button .left {
    position: absolute;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    border-bottom: 10px solid limegreen;
    border-left: 10px solid limegreen;

    transition: 800ms;
    animation-timing-function: linear;



}
button:hover .right {
    left: 1rem;
    top: 0;
    width: 3rem;
    height: 3rem;
    /* animation-name: move-12-top; */
}
button:hover .left {
    top: 0;
    width: 100%;
    height: 100%;
}
/* Header  */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
h1 {
    margin-left: 1rem;
}

/* Main  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#root {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid lightgrey; */
}
.form {
    margin-bottom: 50px;
}

ul {
    width: 100%;
    border-radius: 2px;


}
li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 3.5rem;
    border: 1px solid #F0F0F0;
    
}
li span {
    font-size: 1.7rem;
    flex-grow: 1;
    background-color: #FAFAFA;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word; text-overflow: ellipsis;
}
li span:hover {
    background-color: #FDFDFD;
}
li div {
    font-size: 1.6rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    cursor: pointer;
}
li div:hover {
    color: #D00000;
}
.removed {
    position: absolute;
    top: 0;
    right: 50px;
    width: 250px;
}
.removed li {
    height: 2rem;
}
.removed li span {
    font-size: 1.1rem;

}
/* utility Vue js */
.done {
    text-decoration: line-through;
    text-decoration-color: limegreen;
}
/* resume  */
.resume {
    background-color: greenyellow !important;
}
.trash {
    font-size: 3.4rem;
    text-align: center;
    background-color: #FF5050;
    padding: 0.5rem 0;
    cursor: pointer;

}
