/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
input {
    height: 3.5rem;
    font-size: 1.5rem;
    padding: 0 10px;
    /* margin: 1.3rem 0; */
}
button {
    margin-left: 30px;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    padding: 3px 0px;
    color: limegreen;
    border-color: #444444;
    background-color: #333333;
    transform: rotate(45deg);
}
button:hover {
    border-color: limegreen;
    background-color: darkslategray;
}
button div {
    transform: rotate(-45deg);

}
/* Header  */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
h1 {
    margin-left: 1rem;
}

/* Main  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#root {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid lightgrey; */
}
.form {
    margin-bottom: 30px;
}

ul {
    width: 100%;
    border-radius: 2px;


}
li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 3.5rem;
    border: 1px solid #F0F0F0;
    
}
li span {
    font-size: 1.7rem;
    flex-grow: 1;
    background-color: #FAFAFA;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word; text-overflow: ellipsis;
}
li div {
    
    font-size: 1.6rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    cursor: pointer;
    
}
.removed {
    position: absolute;
    top: 0;
    right: 50px;
    width: 250px;
}
.removed li {
    height: 2rem;
}
.removed li span {
    font-size: 1.1rem;

}
/* utility Vue js */
.done {
    text-decoration: line-through;
    text-decoration-color: limegreen;
}
/* resume  */
.resume {
    background-color: greenyellow;
}
.trash {
    font-size: 3.4rem;
    text-align: center;
    background-color: #FF5050;
    padding: 0.5rem 0;
    cursor: pointer;

}